@charset "UTR-8";

body{
    background-color: #233589;
    text-align: justify;
}
div#Interface{
    width: 70%;
    padding-left: 15%;
}
figure#fotoup{
    position: relative;
}
figure#fotoup img{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    box-shadow: 3px 3px 7px black;
}
figure#fotoup figcaption{
    opacity: 0%;
    position: absolute;
    top: 0%;
    color: white;
    background-color: rgba(0, 0, 0, 0.815);
    width: 101%;
    height: 99%;
    padding: 30px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure#fotoup:hover figcaption{
    opacity: 80%;
}
